/.vscode
/node_modules
/public/css/app.css
/public/js/app.js
/public/hot
/public/storage
/public/webfonts
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
